:root {
    --foreground-color-dark: #171717;
    --foreground-color-hover-dark: rgb(49, 46, 129, 0.75);
    --foreground-color-hover-light: rgb(59, 73, 223, 0.1);
    --text-color-hover-dark: rgb(165, 180, 252);
    --text-color-hover-light: rgb(47, 58, 178);
    --text-color-dark: rgb(255, 255, 255);
    --text-color-light: rgb(0, 0, 0);
    --background-color-light: #ffffff;
    --foreground-color-light: #ffffff;   /*else use  FAFAFA or f5f5f5*/
}
.container-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 80%;
}
.news-container {
    height: 100%;
    width: 100%;
    border-radius: 20px 0 0 20px;
    background-color: #f5f5f5;
}
.news-navBar {
    height: 5%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.news-navBar > .main-logo {
    display: none;
}
.news-navBar .hamburger {
    display: none;
    margin-left: auto;
    height: 1.5rem;
    width: 1.5rem;
}
.news-main-container {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}
.news-section {
    width: 100%;
    height: 100vh;
    overflow:auto;
}
/*! For news category filter section */
.filter-category {
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 1rem;
    margin: 1rem 0;
} 
.filter-category > .filter-category-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0 0.5rem;
}
.filter-category > .filter-category-btns > button {
    padding: 0.3rem 0.8rem;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: var(--foreground-color-hover-light);
    color: var(--text-color-hover-light);
    cursor: pointer;
    transition: all 0.1s ease-in;
}
.filter-category > .filter-category-btns > button:nth-child(2) {
    background-color: #e4f0d7;
    color: #33691e;
}
.filter-category > .filter-category-btns > button:nth-child(3) {
    background-color: #ffe8eb;
    color: #d32f2f;
}
.filter-category > .filter-category-btns > button:nth-child(4) {
    background-color: #f3e5f5;
    color: #6a1b9a;
}
.filter-category > .filter-category-btns > button:nth-child(5) {
    background-color: #e1f5fe;
    color: #01579b;
}
.filter-category > .filter-category-btns > button:nth-child(6) {
    background-color: #e0f7fa;
    color: #00838f;
}
.filter-category > .filter-category-btns > button:nth-child(7) {
    background-color: #e6f8e7;
    color: #1b5e20;
}
.filter-category > .filter-category-btns > button:hover {
    transform: scale(1.05);
}
/*  For news category filter section */


/*! FOR TOP HEADLINES STYLE SECTION */
/* .news-section h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
    padding: 0 1rem;
} */
/*  FOR TOP HEADLINES STYLE SECTION */
.news-cards {
    display: flex;
    /* flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem; */
    padding: 0 1rem;

    /* if below will not work properly then cmmt out below all and uncmment upper flex   and in newscard set the size from 100% to 23.3% */
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.2rem;
    justify-content: center;
}
/* ! Scroll to top button starts */
.scroll-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: transparent;
    height: auto;
    width: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in;
    z-index: 100;
}
.scroll-to-top > button {
    background-color: #000000;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.scroll-to-top > button > svg {
    height: 1.5rem;
    width: 1.5rem;
}

/*! news pagination section */
.news-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 1rem 0;
}
.news-pagination > .news-pagination-btn, .news-pagination > .page-show-btn{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: transparent;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.3s ease-in-out;
}
.news-pagination > .news-pagination-btn:hover {
    color: var(--text-color-hover-light);
    background-color: var(--foreground-color-hover-light);
}
.news-pagination > .page-show-btn {
    color: var(--text-color-hover-light);
    background-color: var(--foreground-color-hover-light);
    font-weight: bold;
}

/* news pagination section */

@media only screen and (max-width: 1000px) {
    .news-container {
        width: 100vw;
        border-radius: 0;
    }
    .news-navBar {
        height: 7vh;
        background-color: var(--foreground-color-light);
        display: flex;
    }
    .news-main-container {
        height: 93vh;
    }
    .news-navBar > .main-logo {
        display: block;
        margin: 0 0.5rem;
    }
    .news-navBar .hamburger {
        display: block;
        margin: 0 0.5rem 0 auto;
        color: var(--text-color-light);
    }
    .main-logo h3 {
        margin: 0.2rem 0;
        font-size: 1.8rem !important;
    }
}
@media only screen and (max-width: 500px) {
    .filter-category {
        flex-direction: column;
    } 
    .filter-category > p {
        text-align: left;
        margin-bottom: 0.5rem;
        width: 100%;
    }
    .filter-category > .filter-category-btns {
        width: 100%;
    }
}