.news-container {
    height: 100vh;
    width: 80vw;
    border-radius: 20px 0 0 20px;
    background-color: #F5F5F5;
}
.news-navBar {
    height: 5vh;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-navBar > .main-logo {
    display: none;
}
.news-navBar .hamburger {
    display: none;
    margin-left: auto;
    height: 1.5rem;
    width: 1.5rem;
}
.news-main-container {
    height: 95vh;
    width:  100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}
.news-section {
    width: 100%;
    height: auto;
    overflow: scroll;
}
.news-section h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
    padding: 0 1rem;

}
.news-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
    padding: 0 1rem;
    /* width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    justify-content: center; */
}

@media only screen and (max-width: 1000px) {
    .news-container {
        width: 100vw;
        border-radius: 0;
    }
    .news-navBar {
        height: auto;
        background-color: #000000;
    }
    .news-navBar > .main-logo {
        display: block;
        margin: 0 0.5rem;
    }
    .news-navBar .hamburger {
        display: block;
        margin: 0 0.5rem 0 auto;
        color: #ffffff;
    }
    .main-logo h3 {
        margin: 0.2rem 0;
        font-size: 1.7rem;
        color: #000000;
    }
}