:root {
    --foreground-color-dark: #171717;
    --foreground-color-hover-dark: rgb(49, 46, 129, 0.75);
    --text-color-hover: rgb(165, 180, 252);
    --text-color: rgb(255, 255, 255);
}
.container-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
}
.news-container {
    height: 100vh;
    width: 80vw;
    border-radius: 20px 0 0 20px;
    background-color: #f5f5f5;
}
.news-navBar {
    height: 5vh;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.news-navBar > .main-logo {
    display: none;
}
.news-navBar .hamburger {
    display: none;
    margin-left: auto;
    height: 1.5rem;
    width: 1.5rem;
}
.news-main-container {
    height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}
.news-section {
    width: 100%;
    height: auto;
    overflow: scroll;
}
.news-section h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
    padding: 0 1rem;
}
.news-cards {
    display: flex;
    /* flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem; */
    padding: 0 1rem;

    /* if below will not work properly then cmmt out below all and uncmment upper flex   and in newscard set the size from 100% to 23.3% */
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.2rem;
    justify-content: center;
}

/* news pagination section */
.news-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}
.news-pagination > .news-pagination-btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.3s ease-in-out;
}
.news-pagination > .news-pagination-btn:hover {
    color: var(--text-color-hover);
    background-color: var(--foreground-color-hover-dark);
}

/* neqws pagination section */

@media only screen and (max-width: 1000px) {
    .news-container {
        width: 100vw;
        border-radius: 0;
    }
    .news-navBar {
        height: 7vh;
        background-color: #000000;
        display: flex;
    }
    .news-main-container {
        height: 93vh;
    }
    .news-navBar > .main-logo {
        display: block;
        margin: 0 0.5rem;
    }
    .news-navBar .hamburger {
        display: block;
        margin: 0 0.5rem 0 auto;
        color: #ffffff;
    }
    .main-logo h3 {
        margin: 0.2rem 0;
        font-size: 1.7rem;
        color: #000000;
    }
}
