:root {
  --foreground-color-dark: #171717;
  --foreground-color-hover-dark: rgb(49, 46, 129, 0.75);
  --foreground-color-hover-light: rgb(59, 73, 223, 0.1);
  --text-color-hover-dark: rgb(165, 180, 252);
  --text-color-hover-light: rgb(47, 58, 178);
  --text-color-dark: rgb(255, 255, 255);
  --text-color-light: rgb(0, 0, 0);
  --background-color-light: #ffffff;
  --foreground-color-light: #ffffff;   /*else use  FAFAFA or f5f5f5*/
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255); 
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .main-container {
    flex-direction: column;
  }
}

/* For dark theme */
.dark-background {
  background-color: #171717 !important;
  color: #ffffff !important;
}
.dark-foreground-one {
  background-color: #262626 !important;
  color: #ffffff !important;
}