* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* SCROLL BAR STARTS */
/* width */
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar:hover {
  width: 0px;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 20px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  /* background: -webkit-linear-gradient(315deg, #A88BEB, #F8CEEC, #A88BEB); */
  background: #868686;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: -webkit-linear-gradient(315deg, #A88BEB, #F8CEEC, #A88BEB); */
  background: #aeaeae;
}
/* SCROLL BAR ENDS */

/* hiding scroll bar in mobile screen */
@media screen and (max-width: 800px) {
  ::-webkit-scrollbar {
    display: none;
  }
}